<html>
  <head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script type=text/javascript>
			$(function() {
			  $('a#lnk-add_playlist').bind('click', function() {
				$.getJSON('/add_to_playlist', {
				  url: $('input[name="url"]').val(),
				  type: $('select[name="type"]').val(),
				  time: $('input[name="time"]').val(),
				  zoom: $('input[name="zoom"]').val(),
				  startat: $('input[name="startat"]').val(),
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
    <script type=text/javascript>
			$(function() {
			  $('input#lnk-add_playlist').bind('click', function() {
				$.getJSON('/add_to_playlist', {
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
    <script type=text/javascript>
			$(function() {
			  $('a#lnk-wifi').bind('click', function() {
				$.getJSON('/wifi', {
				  proglang: $('input[name="proglang"]').val(),
				}, function(data) {
				$('#turl').text('');
				var eachrow = "<table><tr>"
                 + "<td> NAME </td>"
                 + "<td> QUALITY </td>"
                 + "<td> CHANNEL </td>"
                 + "<td> ADDRESS </td>"
                 + "<td> ENC </td>"
                 + "</tr>";
				$.each(data, function(i, item) {
				eachrow = eachrow + "<tr>"
                 + "<td><input type='radio' name='sid' value=" + item.name + ">" + item.name + "</td>"
                 + "<td>" + item.quality + "</td>"
                 + "<td>" + item.channel + "</td>"
                 + "<td>" + item.address + "</td>"
                 + "<td>" + item.enc + "</td>"
                 + "</tr>";
				  });
				  eachrow = eachrow + "</table>"
				  + "<input type='text' name='key' value=''><br><input type='submit' value='Submit'>";
				  $('#turl').append(eachrow);
				});
				return false;
			  });
			});
		</script>
    <script type=text/javascript>
			$(function() {
			  $('a#lnk-reboot').bind('click', function() {
				$.getJSON('/reboot', {
				}, function(data) {
				  $("#result").text(data.result);
				});
				return false;
			  });
			});
		</script>
    {% if title %}
    <title>{{ title }} - PiWifi</title>
    {% else %}
    <title>Welcome piwifi setup</title>
    {% endif %}
  </head>
  <body>
    <div>PiWifi: <a href="/">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
